[Unit]
Description=Go HTTP Server

[Service]
User=munir
WorkingDirectory=/opt/go-http-server
ExecStart=/opt/go-http-server/hello

[Install]
WantedBy=multi-user.target
